{% extends 'base.html.twig' %}

{% block title %}Edit Product #{{ form.vars.value.id }}{% endblock %}
{% block body %}
    <div class="panel col-md-12 col-xs-12">
        <h1>Edit Product #{{ form.vars.value.id }}</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
